body {
    font-size: 16px;
}

#start {
    background-size: cover;
}

#weather {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
    text-align: center;
    background: #466bf3;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
}

ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    margin-top: 0;
}

#city {
    margin-bottom: 1rem;
}

progress {
    width: 10rem;
}

#error {
    font-size: initial;
}

#hero {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-align: center;
}

#hero div {
    display: inline-block;
    border-radius: 0.5rem;
}

#hero p {
    width: fit-content;
    margin: 1.5rem auto;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

#name {
    padding: 0.25rem;
}

#greetText {
    display: inline-block;
}

#formArea {
    text-align: center;
}

#search, #submit {
    font-size: 1.5rem;
    outline: none;
    padding: 0.5rem;
}

#search {
    border: 1px solid black;
    border-radius: 1rem;
}

#submit {
    cursor: pointer;
    transition: all 0.2s linear;
    background: #2dcc4f;
    border: 1px solid #77fb66;
    border-radius: 0.375rem;

    &:hover {
        background: #2ea44f;
        transform: scale(0.9);
    }
}

.m-0 {
    margin: 0;
}

.title {
    text-decoration: underline;
    font-weight: 700;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.mt-1 {
    margin-top: 1rem;
}

.dark-bg {
    background: rgba(0,0,0,0.5);
}

.f-1 {
    font-size: 1rem;
}

/* Options page */

#options select, #options input {
    font-size: 16px;
}

h2 {
    font-size: 1.5rem;
}

#currentBg {
    font-size: 1rem;
    margin-left: 1rem;
}

#status {
    color: #2dcc4f;
}

#extra {
    color: #cc2d2d;
}

#save {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    background: #2dcc4f;
    border: 1px solid #77fb66;
    border-radius: 0.375rem;

    &:hover {
        background: #2ea44f;
        transform: scale(0.9);
    }
}